

*{
background-color : #FAFAFA;
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:  BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
list-style-type:none;
}
@media only screen and (min-width: 866px) {
body{
    display: flex;
    flex-direction: column;
}
.container{
    
    
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content:center ;
    align-items: center;
    
    
}
.left{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    height: 700px;
    width: 500px;
    background-image: url(https://static.cdninstagram.com/rsrc.php/v3/y4/r/ItTndlZM2n2.png);
    background-repeat: no-repeat;
    background-size: 500px;
    
}

.ima{
    position: relative;  
    top: 30px; 
    left:169px; 
    height:580px; 
    border-radius: 15px; 
    background-color:rgba(255, 255, 255, 0);
    display: none;
 
}


.active{
   
    display: inline-block;
   
}


.right{
    position: relative;
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
   margin-bottom: 220px;
    height: 445px;
    width: 380px;
    border: 2px solid rgba(0, 0, 0, 0.13);
    flex-direction: column;
    
}

.right > img{
    padding-top: 50px;
}

.right > input{
    color: rgb(142,155,187);
    text-align: center;
    padding-right: 20px;
    width: 290px;
    height: 45px;
    margin-bottom: 8px;
    border-radius: 3px;
    border-color: rgba(0, 0, 0, 0.171);
}

#accedi{
    font-weight: bold;
    color: #FFFAFE;
    margin-top: 10px;
    border-radius: 6px;
    width: 290px;
    height: 35px;
    background-color:#B2DFFC ;
    border-color:rgba(0, 0, 0, 0);
}


.mid-container{
    width:290px;
    margin-top: 20px;
    background-color: #FFFFFF ;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

#sin{
    
    width: 115px;
   height: 1px;
   background-color:rgba(0, 0, 0, 0.212);
}

#des{
    height: 1px;
    width: 115px;
    background-color:rgba(0, 0, 0, 0.212);
}
.mid-container > p{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.342);
}

.bot-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:15px;
    flex-direction: column;
    font-weight: bold;
    color: #385185;
    height: 80px;
    
    width: 290px;
    background-color: #FFFFFF;
}
.bot-container > p{
width: 170px;
cursor: pointer;

}

.bot-container > p::before{
   background-position: 3px;
    background-image: url(./facebook-icon.png);
    background-repeat: no-repeat;
     content: '?';
     display: inline-block;
     color: rgba(255, 255, 255, 0);
    width: 20px;
     height: 20px;
     margin-right:5px;

}

.bot-container > span{
    font-weight: 100;
    margin-top: 15px;
    font-size: 12px;
    color: rgb (0, 55, 107);
    cursor: pointer;
}

.down-cont{
    top:457px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 380px;
   background-color: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.13);
  
}

strong{
    cursor: pointer;
    color:rgb(82,194,251) ;
}

.piedi{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100vw;
}

ul{
    font-size: 12px;

}

#fup{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80vw;
    gap: 2%;

}
#fdow{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30vw;
    gap: 1.8;
}
a , li{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5)
}
}


/*/////////////TABLET,PHONE/////////////////*/
@media only screen and (max-width: 866px) {
    body{
        display: flex;
        flex-direction: column;
    }
    .container{
        
        
        width: 100vw;
        height: 80vh;
        display: flex;
        justify-content:center ;
        align-items: center;
        
        
    }

.right{
    position: relative;
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
   margin-bottom: 220px;
    height: 445px;
    width: 380px;
    border: 2px solid rgba(0, 0, 0, 0.13);
    flex-direction: column;
    
}

.right > img{
    padding-top: 50px;
}

.right > input{
    color: rgb(142,155,187);
    text-align: center;
    padding-right: 20px;
    width: 290px;
    height: 45px;
    margin-bottom: 8px;
    border-radius: 3px;
    border-color: rgba(0, 0, 0, 0.171);
}

#accedi{
    font-weight: bold;
    color: #FFFAFE;
    margin-top: 10px;
    border-radius: 6px;
    width: 290px;
    height: 35px;
    background-color:#B2DFFC ;
    border-color:rgba(0, 0, 0, 0);
}


.mid-container{
    width:290px;
    margin-top: 20px;
    background-color: #FFFFFF ;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

#sin{
    
    width: 115px;
   height: 1px;
   background-color:rgba(0, 0, 0, 0.212);
}

#des{
    height: 1px;
    width: 115px;
    background-color:rgba(0, 0, 0, 0.212);
}
.mid-container > p{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.342);
}

.bot-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:15px;
    flex-direction: column;
    font-weight: bold;
    color: #385185;
    height: 80px;
    
    width: 290px;
    background-color: #FFFFFF;
}
.bot-container > p{
width: 170px;
cursor: pointer;

}

.bot-container > p::before{
   background-position: 3px;
    background-image: url(./facebook-icon.png);
    background-repeat: no-repeat;
     content: '?';
     display: inline-block;
     color: rgba(255, 255, 255, 0);
    width: 20px;
     height: 20px;
     margin-right:5px;

}

.bot-container > span{
    font-weight: 100;
    margin-top: 15px;
    font-size: 12px;
    color: rgb (0, 55, 107);
    cursor: pointer;
}

.down-cont{
    top:457px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 380px;
   background-color: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.13);
  
}

strong{
    cursor: pointer;
    color:rgb(82,194,251) ;
}

.piedi{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100vw;
}

ul{
    font-size: 12px;

}

#fup{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80vw;
    gap: 2%;

}
#fdow{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30vw;
    gap: 10%;
}
a , li{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5)
}

.left{
    display: none;
}
}